<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 用最新的IE浏览 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>相册</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style>
      .flex{
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-around; */
      }
      img{
        width: 400px;
        height: 400px;
      }
    </style>
  </head>
  <body>
    <h1>我的相册</h1>
    <p><a href="/">全部相册</a> / <a href="#"><%= albumName %></a></p>
    <p class="flex">
      <% for( var i = 0 ; i < images.length ; i++ ){ %>
        <img src="<%= images[i] %>"></img>
      <% } %>
    </p>

    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>