<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 用最新的IE浏览 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>相册</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <style>    
      body{
        margin: 0;
        padding: 0;
        background: #f2f2f2;
      }
      .center{
        text-align: center;
      }
      .flex{
        display: flex;
        justify-content: space-around;
      }
      .box{
        display: inline-block;
        text-align: center;
        background: #fff;
        padding: 30px;
      }
      .box img{
        width: 250px;
        height: 250px;
      }
    </style>
  </head>
  <body>
    <h3 class="center">我的相册</h3>

    <p class="center"><a href="/upload">上传照片</a></p>

    <div class="flex">
    <% for( var i = 0 ; i < albums.length ; i++ ){ %>
      <a class="box" href="<%= albums[i] %>">
        <img src="/02/wenjianjia.jpg" alt=""> <br>
        <i><%= albums[i] %></i>
      </a>
    <% } %>
    </div>

    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>