<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 用最新的IE浏览 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>相册</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <style>    
      body{
        margin: 0;
        padding: 0;
        background: #f2f2f2;
      }
      .center{
        text-align: center;
      }
      .flex{
        display: flex;
        justify-content: space-around;
      }
      .box{
        display: inline-block;
        text-align: center;
        background: #fff;
        padding: 30px;
      }
      .box img{
        width: 250px;
        height: 250px;
      }
      select{
        width: 100px;
        height: 30px;
      }
      option{
        height: 30px;
        padding: 30px;
      }
      .center input{
        display: inline-block;
        width: 200px;
      }
    </style>
  </head>
  <body>
    <h1 class="center">上传到我的相册</h1>

    <p class="center">
      请选择相册
      <select onchange="getFolderName">
        <% for( var i = 0 ; i < albums.length ; i++ ){ %>
          <option value="<%= albums[i] %>"><%= albums[i] %></option>
        <% } %>
      </select>
    </p>
    <form action="/upload" method="post">
      <p class="center"><input type="file" name="file" /></p>
      <p class="center"><input type="submit" /></p>
    </form>

    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script>
      function getFolderName(e){
        console.log(e)
      }
    </script>
  </body>
</html>